/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    /* Mobile browser support */
    background-color: #000;
    color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preloader-percent {
    font-family: var(--font-main);
    font-size: 15vw;
    font-weight: 900;
    color: var(--secondary-color);
    line-height: 1;
}