:root {
    --bg-color: #fdfcf8;
    /* Ultra-light refined beige */
    --text-color: #111111;
    /* Deep black */
    --accent-color: #b30000;
    /* Deep, rich red */
    --secondary-color: #e8e0d5;
    /* Muted beige for contrast */
    --font-main: 'Poppins', sans-serif;
    /* Modern/Clean */
    --font-serif: 'Cormorant Garamond', serif;
    /* Luxury */
    --font-signature: 'Mrs Saint Delafield', cursive;
    /* Signature */
}